$success-color: #09bb07;
$primary-color: #10aeff;
$warning-color: #ffbe00;
$danger-color: #f76260;

$base-bgc: #2f4159;
$base-bgc2: #595959;
$common-bgc: #f6f6f6;

$font-color1: #eee;
$font-color2: #333;
$font-active: #fa6200;
$font-dashed: #888;

$header-height: 48px;
$footer-height: 48px;

$wrapper-padding: 20px;